* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/img/background.svg);

    .container {
        max-width: 850px;
        height: 50vh;
        padding: 30px;

        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);

        h1 {
            color: #fff;
            text-align: center;
            font-weight: bold;
        }

        .conversor {
            display: flex;
            justify-content: center;
            margin: 20px 0;

            &__input1,
            &__input2 {
                max-width: 325px;
                height: 54px;

                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }

                select {
                    width: 85px;
                }

                .cod {
                    padding: 0;
                    justify-content: center;
                    width: 45px;
                }
            }

            &__alternador {
                padding: 10px 20px;
                border: none;
                height: 54px;
                border-radius: 6px;
                margin: 0 15px;
            }
        }

        .dados {
            // display: flex;
            flex-direction: column;

            &__cotacao {
                color: #FFF;
                font-size: 25px;
            }

            &__infos {
                color: #FFF;
                position: absolute;
                bottom: 0;
            }
        }
    }
}